<ul class="nav nav-tabs justify-content-end">
  <li class="nav-item" [routerLink]="['', 'home']" routerLinkActive="active">
    <a class="nav-link">Home</a>
  </li>
  <li
    class="nav-item"
    [routerLink]="['', 'home', 'workers']"
    routerLinkActive="active"
  >
    <a class="nav-link">Trabajadores</a>
  </li>

  <li
    class="nav-item"
    [routerLink]="['', 'home', 'incidents']"
    routerLinkActive="active"
  >
    <a class="nav-link">Incidencias</a>
  </li>

  <li
    class="nav-item"
    [routerLink]="['', 'home', 'calendar']"
    routerLinkActive="active"
  >
    <a class="nav-link">Calendario</a>
  </li>

  <li
    class="nav-item"
    [routerLink]="['', 'home', 'reports']"
    routerLinkActive="active"
  >
    <a class="nav-link">Reportes</a>
  </li>
</ul>
