<app-navbar></app-navbar>
<div id="contenedor" class="container">
  <div id="interior" class="row" >
    <div class="col">
      Acá va el selector
    </div>
    <div class="col">
      Acá va la búsqueda
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="th-sm">Check</th>
          <th class="th-sm">Full Name</th>
          <th class="th-sm">Nivel</th>
          <th class="th-sm">Username</th>
          <th class="th-sm">Incidencia</th>
          <th class="th-sm">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Tiger Nixon</td>
          <td>System Architect</td>
          <td>Edinburgh</td>
          <td>61</td>
          <td>2011/04/25</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Marcos Loyo</td>
          <td>Newbie</td>
          <td>Orizaba</td>
          <td>001</td>
          <td>2011/04/25</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Garrett Winters</td>
          <td>Accountant</td>
          <td>Tokyo</td>
          <td>63</td>
          <td>2011/07/25</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Ashton Cox</td>
          <td>Junior Technical Author</td>
          <td>San Francisco</td>
          <td>66</td>
          <td>2009/01/12</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Cedric Kelly</td>
          <td>Senior Javascript Developer</td>
          <td>Edinburgh</td>
          <td>22</td>
          <td>2012/03/29</td>
        </tr>
      </tbody>
    </table>
    <div style="float: left">
      Acá va la paginación
    </div>
  </div>
  <footer>
    FOOTER
  </footer>
</div>
