<div style="padding: 50px;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Prioridad</th>
        <th scope="col">Revisor</th>
        <th scope="col">Review</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Falta</td>
        <td><span class="badge badge-success">Done</span></td>
        <td class="text-black-50">Chief Marketing</td>
        <td><input type="checkbox" /></td>
        <td>26 April,2016</td>
      </tr>
      <tr>
        <td>Vacaciones</td>
        <td><span class="badge badge-info">In progress</span></td>
        <td class="text-black-50">Chief Design</td>
        <td><input type="checkbox" /></td>
        <td>24 April,2016</td>
      </tr>
      <tr>
        <td>Comision</td>
        <td><span class="badge badge-danger">Blocked</span></td>
        <td class="text-black-50">Chief HR</td>
        <td><input type="checkbox" /></td>
        <td>23 April,2016</td>
      </tr>
      <tr>
        <td>Permisos</td>
        <td><span class="badge badge-warning">Needs Review</span></td>
        <td class="text-black-50">CEO</td>
        <td><input type="checkbox" /></td>
        <td>23 April,2016</td>
      </tr>
      <tr>
        <td>Retardos</td>
        <td><span class="badge badge-info">In progress</span></td>
        <td class="text-black-50">Editor-in-Chief</td>
        <td><input type="checkbox" /></td>
        <td>23 April,2016</td>
      </tr>
      <tr>
        <td>Falta De Dinero</td>
        <td><span class="badge badge-secondary">N/A</span></td>
        <td class="text-black-50">PR Chief</td>
        <td><input type="checkbox" /></td>
        <td>23 April,2016</td>
      </tr>
      <tr>
        <td>-</td>
        <td><span class="badge badge-success">Done</span></td>
        <td class="text-black-50">Designer</td>
        <td><input type="checkbox" /></td>
        <td>19 April,2016</td>
      </tr>
      <tr>
        <td>-</td>
        <td><span class="badge badge-info">In progress</span></td>
        <td class="text-black-50">HR</td>
        <td><input type="checkbox" /></td>
        <td>18 April,2016</td>
      </tr>
      <tr>
        <td>-</td>
        <td><span class="badge badge-danger">Blocked</span></td>
        <td class="text-black-50">PR</td>
        <td><input type="checkbox" /></td>
        <td>18 April,2016</td>
      </tr>
    </tbody>
  </table>
</div>
