<app-navbar></app-navbar>
<body>
<header>
<div class="contenedor">
	<nav>
		<div class="caja"> 
		<label>{{dia}}</label>
		<button><a href="#">Clic</a></button>
		</div>
		
		<div class="caja"> 
		<label>{{mes}}</label>
		<button><a href="#">Clic</a></button>
		</div>
	</nav>
</div>
</header>
<br>
<section class="calendarioS">
<div class="calendarioContenedor">
	<label class="choose">Choose your departure day</label>
	<hr>
	<div class="calendario">

	    <div class="row padre">
      <div class="col-xs-12 col-12 col-md-4 form-group cajaU">
        <input type="text"
               class="form-control"
               bsDatepicker>
      </div>
      <div class="col-xs-12 col-12 col-md-4 form-group cajaD">
        <input type="text"
               class="form-control"
               bsDatepicker>
      </div>
    </div>
	</div>
</div>
</section>

<footer>
	<label>TELCOMM-TELEGRAMOS</label>
</footer>

</body>