<div class="container">
	<nav>
		<div class="box"> 
		<label>{{dia}}</label>
		<button><a href="#">Clic</a></button>
		</div>
		
		<div class="box"> 
		<label>{{mes}}</label>
		<button><a href="#">Clic</a></button>
		</div>
	</nav>
</div>
<br>
<section class="sectionCalendar">
<div class="calendarContainer">
	<label>Choose your departure day</label>
	<hr>
	<div>

	    <div class="row padre">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               class="form-control"
               bsDatepicker>
      </div>
      <div class="col-xs-12 col-12 col-md-4 form-group inputTwo">
        <input type="text"
               class="form-control"
               bsDatepicker>
      </div>
    </div>
	</div>
</div>
</section>



